* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body{
    background:linear-gradient(#8983ff, #6b62da, #4e41b7, #2e2294, #000072);
    min-height: 50vw;
    width: 100vw;
    overflow-x: hidden;
}

.bienvenida{
    font-size: 2em;
    font-weight: bold;
    color: #fcfcfc;
    text-align: center;
    margin:50px;
}

.nombreJugador{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #2e2294;
    background-color:#fcfcfc ;
}

.button-start{
    width: 10%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fcfcfc;
    background-color: #2e2294;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.button-start:hover{
    background: #dba0fd;
    transform: scale(1.2);
}

.selection{
    text-align: center;
}

.selection h3{
    font-size: 2em;
    font-weight: bold;
    color: #fcfcfc;
}

.personajes{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0, 50px;
}

.cardPersonaje {
    display: inline-block;
    width: 400;
    height: 500px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 4px solid #2e2294;
    border-radius: 10px;
    text-decoration: none;
}

.cardPersonaje:hover{
    border-color: #dba0fd;
}

.cardPersonaje:active{
    border-color: #FFFFFF;
}

.personajes h4{
    font-size: 2rem;
    font-weight: bold;
    color: #fcfcfc;
}

.cardPersonaje img{
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 25px; 
}


.cardPersonaje p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #fcfcfc;
}

@media only screen and (min-width: 768px){
    
    .cardPersonaje{
        display: inline-block;
    }

}

.contenedor{
    width: 920px;
    height: 300px;
    margin: 0 auto;

}

.personajeSeleccionado{
    width: 150px;
    height: 150px;
    position: absolute;

    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(../img/4100_5_03-removebg-preview.png) no-repeat 0px 0px;
    background-size: 180px 180px;
    background-position: 0;
}


.espacio{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;

    background: url(../img/5473791.jpg) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.meteorito{
    width: 75px;
    height: 50px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(../img/6640-removebg-preview.png) no-repeat;
    background-size: 80px 60px;
    background-position: 0;
}

.nube{
    width: 100px;
    height: 200px;

    position: absolute;
    z-index: 0;

    background: url(../img/912-9126983_estrella-png-removebg-preview.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: white;
    font-size: 30px;
    text-align: right;
}

@keyframes animarPersonaje {
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;

    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

